@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	::-webkit-scrollbar{
		@apply bg-zinc-100 h-4 w-2 mt-px
	}

	::-webkit-scrollbar-thumb{
		@apply bg-teal-600 border border-gray-300 w-2 rounded-lg
	}
}

@layer utilities {
	.sidebar-active {
		@apply bg-gradient-to-r from-teal-900 via-teal-600 to-teal-900
	}

	.sidebar-active a::before{
		@apply content-[''] absolute h-1.5 w-1.5 left-[-8px] bg-[#00d6b4] rounded-full
	}
}