@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    * {
        @apply border-border border-gray-300 rounded-md;
    }

    body {
        @apply bg-background text-foreground;
    }

    ::-webkit-scrollbar {
        @apply bg-zinc-100 h-4 w-2 mt-px;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-teal-600 border border-gray-300 w-2 rounded-lg;
    }

    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    [theme-mode='dark-content'] {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer utilities {
    .row {
        @apply grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-4;
    }

    .sidebar-active {
        @apply bg-gradient-to-r from-teal-900 via-teal-600 to-teal-900;
    }

    .sidebar-active a::before {
        @apply content-[''] absolute h-1.5 w-1.5 left-[-8px] bg-[#00d6b4] rounded-full;
    }

    main[sidebar-mini='hidden'] [id='sidebar'] {
        @apply hidden md:block;
    }
}
